.hero-section {
  background: radial-gradient(
    56.22% 34.1% at 49.21% 34.12%,
    #0261c0 0%,
    #000a14 100%
  );
  background-size: 100% 61%;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  .socal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
    padding-top: 85px;
    div {
      display: flex;
      align-items: center;
      gap: 6px;
      font-family: "Gilroy-Medium", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 8%;
      color: #30a5ff;
    }
    img {
      height: 14px;
    }
  }
  .title {
    background-image: url("../assets/grid-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 65%;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .quote {
      font-family: "Gilroy-Bold", sans-serif;
      font-size: 31px;
      line-height: 52px;
      letter-spacing: 5px;
      text-align: center;
    }
    .head {
      font-family: "Gilroy-Bold", sans-serif;
      font-size: 84px;
      line-height: 97px;
      letter-spacing: 6px;
      text-align: center;
    }
  }

  // Double border container styling
  .double-border-container {
    position: relative;
    width: 79%; // Fixed width as percentage
    height: 0;
    padding-bottom: 58%; // Fixed height as percentage of width (aspect ratio)
    margin: 50px auto 0;
    border-radius: 15px;
    background: radial-gradient(
      91.5% 78.98% at 50% -7.96%,
      rgba(1, 88, 196, 0.3528) 0%,
      rgba(1, 42, 94, 0.2436) 100%
    );
    border: 1px solid #2053939e;
    overflow: hidden;

    // Inner border
    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      border-radius: 10px;
      border: 1px solid #2053939e;
      pointer-events: none;
      z-index: 2;
    }

    .image-container {
      position: absolute;
      top: 10px; // Just inside the inner border
      left: 10px;
      right: 10px;
      bottom: 10px;
      overflow: hidden;
      z-index: 1;
      border-radius: 15px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover; // Ensures the image covers the entire container
        display: block;
      }
    }
  }
  .tile-container {
    z-index: 3;
    position: relative;
    top: -188px;
    // box-shadow:         inset 0px 4px 3px rgba(50, 50, 50, 0.75);
  }
}
@media (max-width: 768px) {
  .hero-section {
    .socal {
      gap: 45px;
      padding-top: 20px;
    }
    .title {
      background-position: left;
      background-size: cover;
      width: 100%;
      .quote {
        font-size: 22px;
      }
      .head {
        font-size: 70px;
      }
    }

    // Double border container styling
    // .double-border-container {
    //   position: relative;
    //   width: 79%; // Fixed width as percentage
    //   height: 0;
    //   padding-bottom: 58%; // Fixed height as percentage of width (aspect ratio)
    //   margin: 50px auto 0;
    //   border-radius: 15px;
    //   background: radial-gradient(
    //     91.5% 78.98% at 50% -7.96%,
    //     rgba(1, 88, 196, 0.3528) 0%,
    //     rgba(1, 42, 94, 0.2436) 100%
    //   );
    //   border: 1px solid #2053939e;
    //   overflow: hidden;

    //   // Inner border
    //   &::before {
    //     content: "";
    //     position: absolute;
    //     top: 10px;
    //     left: 10px;
    //     right: 10px;
    //     bottom: 10px;
    //     border-radius: 10px;
    //     border: 1px solid #2053939e;
    //     pointer-events: none;
    //     z-index: 2;
    //   }

    //   .image-container {
    //     position: absolute;
    //     top: 10px; // Just inside the inner border
    //     left: 10px;
    //     right: 10px;
    //     bottom: 10px;
    //     overflow: hidden;
    //     z-index: 1;
    //     border-radius: 15px;

    //     img {
    //       width: 100%;
    //       height: 100%;
    //       object-fit: cover; // Ensures the image covers the entire container
    //       display: block;
    //     }
    //   }
    // }
    // .tile-container {
    //   z-index: 3;
    //   position: relative;
    //   top: -188px;
    //   // box-shadow:         inset 0px 4px 3px rgba(50, 50, 50, 0.75);
    // }
  }
}

@media (max-width: 340px) {
  .hero-section {
    .socal {
      gap: 18px;
      padding-top: 20px;
    }
    .title {
      background-position: left;
      background-size: cover;
      width: 100%;
      .quote {
        font-size: 18px;
      }
      .head {
        font-size: 60px;
      }
    }

    // Double border container styling
    // .double-border-container {
    //   position: relative;
    //   width: 79%; // Fixed width as percentage
    //   height: 0;
    //   padding-bottom: 58%; // Fixed height as percentage of width (aspect ratio)
    //   margin: 50px auto 0;
    //   border-radius: 15px;
    //   background: radial-gradient(
    //     91.5% 78.98% at 50% -7.96%,
    //     rgba(1, 88, 196, 0.3528) 0%,
    //     rgba(1, 42, 94, 0.2436) 100%
    //   );
    //   border: 1px solid #2053939e;
    //   overflow: hidden;

    //   // Inner border
    //   &::before {
    //     content: "";
    //     position: absolute;
    //     top: 10px;
    //     left: 10px;
    //     right: 10px;
    //     bottom: 10px;
    //     border-radius: 10px;
    //     border: 1px solid #2053939e;
    //     pointer-events: none;
    //     z-index: 2;
    //   }

    //   .image-container {
    //     position: absolute;
    //     top: 10px; // Just inside the inner border
    //     left: 10px;
    //     right: 10px;
    //     bottom: 10px;
    //     overflow: hidden;
    //     z-index: 1;
    //     border-radius: 15px;

    //     img {
    //       width: 100%;
    //       height: 100%;
    //       object-fit: cover; // Ensures the image covers the entire container
    //       display: block;
    //     }
    //   }
    // }
    // .tile-container {
    //   z-index: 3;
    //   position: relative;
    //   top: -188px;
    //   // box-shadow:         inset 0px 4px 3px rgba(50, 50, 50, 0.75);
    // }
  }
}
@media (width < 430px) {
  .hero-section {
    background: radial-gradient(
      100.22% 14.1% at 50.21% 0%,
      #0261c0 0%,
      #000a14 71%
    );
    .title {
      .head {
        font-size: 60px;
      }
    }
    .double-border-container {
      width: 92%; // Fixed width as percentage
      padding-bottom: 155%; // Fixed height as percentage of width (aspect ratio)
      margin: 3px auto 0;
    }
    .tile-container {
      top: -100px;
      padding: 5px;
    }
  }
}
@media (768px <width< 1100px) {
  .hero-section {
    .title {
      width: 70%;
      .quote {
        font-size: 20px;
      }
      .head {
        font-size: 55px;
      }
    }
  }
}
